html {
	overflow: auto;
}
body {
	background: #663333 url(/media/bg.png) repeat;
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
}
h2, h3 {
	font-family: "Trebuchet MS", Georgia, serif;
}
h1 {
	font-family: Consolas, Monaco, "Courier New", monospace;
	font-size: 40px;
	text-align: center;
}
h1 a {
	text-decoration: none;
	display: block;
	color: #000000;
}
h1 .scope {
	color: #999999;
	font-style: italic;
}
h1 .operator {
	color: #990000;
}
h1 .keyword {
	color: #0066CC;
}
h2 {
	font-size: 20px;
	border-bottom: 1px dotted #CCCCCC;
}
h3 {
	font-size: 15px;
}
code {
	display: inline-block;
	color: #990000;
	font-family: Consolas, Monaco, "Courier New";
	font-weight: bold;
}
pre.code {
	font-family: Consolas, Monaco, "Courier New";
	font-weight: bold;
	background-color: #000000;
	color: #CCCCCC;
}
.code .block {
	color: #CCCCCC;
}
.code .keyword {
	color: #9999FF;
}
.code .variable {
	color: #FFFFFF;
}
.code .string {
	color: #99FF99;
}


#wrapper {
	margin: 10px;
	padding: 10px;
	border: 2px ridge #000000;
	background-color: #F4F4F4;
	width: 1000px;
	margin: 10px auto;
}

#header {
	border-bottom: 2px ridge #000000;
}

#menu {
	float: left;
	width: 200px;
}
#menu ul {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0;
}
#menu ul a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 3px;
	border: 1px solid transparent;
	font-family: "Trebuchet MS", Verdana;
	font-size: 10pt;
	font-weight: bold;
}
#menu ul a:hover {
	border: 1px solid #99CC99;
	background-color: #EEFFEE;
}

#main {
	margin: 5px auto 10px auto;
}

#content {
	float: left;
	width: 795px;
	margin-left: 5px;
}
#content p {
	padding: 3px;
	margin: 0 0 5px 0;
}
#content a {
	display: inline-block;
	border-bottom: 1px dotted #000000;
	color: #006600;
	text-decoration: none;
}
#content a:hover {
	border-bottom-style: solid;
}

#footer {
	clear: left;
	text-align: center;
}
#footer a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted #000000;
}
#footer a:hover {
	border-bottom-style: solid;
}

.newsitem .timestamp {
	float: right;
	font-size: 8pt;
	line-height: 26px;
	cursor: help;
}
.newsitem .post {
	clear: both;
	padding: 10px;
}

#error img {
	width: 256px;
	height: 224px;
}

#contact-form table {
	width: 75%;
}
#contact-form input[type="text"], #contact-form textarea {
	width: 100%;
}
#contact-form th {
	text-align: left;
}
#contact-form textarea {
	height: 10em;
}
#contact-form .submit {
	text-align: center;
}
#contact-form .error {
	background-color: #FFBBAA;
}
