#nav {
	height: 20px;
}
#nav-previous {
	float: left;
	background-image: url(arrow_left.png);
}
#nav-next {
	float: right;
	background-image: url(arrow_right.png);
}
#nav .nav {
	opacity: 0.5;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
#nav .nav:hover {
	opacity: 1;
}

#content {
	clear: both;
	background-color: #000000;
	color: #EEEEEE;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 8pt;
	overflow: auto;
	position: relative;
	border: 2px ridge #000000;
}
#content tt {
	font-family: Consolas, "Courier New", monospace;
	color: #FF99FF;
}
table#parse-results {
	border-collapse: collapse;
	width: 100%;
}
#parse-results td, #parse-results th {
	padding: 5px;
}
#parse-results tr td:first-child {
	width: 6.6em;
}
#parse-results tr :nth-child(2){
	width: 15.1em;
}
#parse-results tr :nth-child(2) tt {
	color: #99FF99;
}
#parse-results tr:nth-of-type(even) {
	background: #333333 url(row.png) repeat-x;
}
#parse-results tr.trackheader {
	color: #FFFFFF;
	text-align: center;
	font-size: 175%;
	border-bottom: 3px double #FFFFFF;
	border-top: 3px double #FFFFFF;
	background-color: #333366;
}
#parse-results .delta {
	color: #FFFF99;
}
#parse-results .channel {
	color: #3399FF;
}
#parse-results .meta {
	color: #FFFFFF;
}
#parse-results .header {
	color: #FF9900;
}

#footer {
	text-align: center;
	color: #181818;
	font-size: 8pt;
	font-family: Verdana, sans-serif;
}
#footer a {
	color: #336699;
	border-bottom: 1px dotted #000000;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 1px;
}
#footer a:hover {
	border-bottom-style: solid;
}

#loader {
	position: fixed;
	border: 2px solid #FFFFFF;
	width: 100px;
	height: 60px;
	background: #000000 url(loading.gif) no-repeat 50% 50%;
}

#page {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #FFFFCC;
	color: #000000;
	font-size: 7pt;
	font-family: Verdana, sans-serif;
	text-align: center;
	padding: 2px;
	width: 80px;
	height: 15px;
	z-index: 2;
}